@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;700;800&display=swap');
body{
    font-family: 'Hanken Grotesk', sans-serif;
}
.container{
    margin: auto;
    width: 450px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 3px 3px 20px rgb(221, 219, 219);
    contain: "";
    clear: both;
    display: table;
}
.perc{
    text-align: center;
    border-radius: 15px;
    float: left;
    width: 50%;
    height:100%;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}
.perc > div{
    float: left;
    margin-left: 45px;
    padding: 10px 40px 10px 40px;
    border-radius: 50%;
    background-image: linear-gradient( hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}
.perc > p{
    color: hsl(241, 100%, 89%);
    font-weight: 400px;
    font-size: 12px;
}
.perc > div > p > span{
    color: white;
    font-size: 50px;
    font-weight: 700;
}
.perc > div > p{
    color: hsl(241, 100%, 89%);
    font-size: 13px;
}
.perc > h2{
    color: white;

}
#continue{
    background-color: hsl(224, 30%, 27%);
    color: whitesmoke;
    border: none;
    border-radius: 20px;
    width: 180px;
    padding: 10px;
    font-size: 10px;
    margin-top: 12px;
}
#continue:hover{
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}
.summary{
    float: left;
    margin-left: 18px;
}
.summary > p{
    font-size: 13px;
    padding: 8px;
    border-radius: 5px;
    margin: 8px;
    width: 160px;
    font-weight: 400px;
}
#p1{
    background-color: rgba(236, 8, 8, 0.10);
    color: red;
}
#p2{
    background-color: rgba(231, 238, 10, 0.10);
    color: gold;
}
#p3{
    background-color: rgba(33, 202, 182, 0.10);
    color: rgb(29, 214, 143);
}
#p4{
    background-color: rgba(124, 12, 252, 0.1);
    color: blueviolet;
}
.sr{
    float: right;
    color: rgb(112, 109, 109);
}
summary > P > b{
    color: black;
}
img{
    margin-right: 7px;
}